<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珍爱网数据分析</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <link href="../static/main.css" rel="stylesheet"/>
    <script src="../static/js/echarts.min.js"></script>

</head>
<body>
    <div id="title">珍爱网数据分析</div>
{#    中间#}
    <div id="center">
        <div id="main" style="width: 600px;height:400px"></div>
        <script src="../static/js/bar.js"></script>
    </div>
{#    左边#}
    <div id="left-1">
        <div id="left" style="width: 500px; height: 400px"></div>
        <script src="../static/js/line.js"></script>
    </div>
{#    右边#}
    <div id="right-1">
        <div id="right" style="width: 750px; height: 400px"></div>

        <script src="../static/js/pies.js"></script>
    </div>


    <script src="../static/js/controller.js"></script>
</body>
</html>